/* ----- card-category-wrapper starts here ----- */

.card-category-wrapper {
  position: sticky;
  top: 3.5rem/* 56px */;
  z-index: 10;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem/* 2px */;
  padding: 0.5rem 0/* 8px 0 */;
  padding-right: 0.5rem/* 8px */;
}

@media (width >= 640px) {
  .card-category-wrapper {
    padding: 0.75rem 1rem 0.75rem 1rem/* 12px 16px 12px 16px */;
  }
}

@media (width >= 1024px) {
  .card-category-wrapper {
    top: 4rem/* 64px */;
  }
}

.card-category-wrapper svg {
  width: 1.25rem/* 16px */;
  height: 1.25rem/* 16px */;
  flex-shrink: 0;
  transition: var(--transition);
}

@media (width >= 640px) {
  .card-category-wrapper svg {
    width: 1.5rem/* 24px */;
    height: 1.5rem/* 24px */;
  }
}

.card-category-wrapper > .card-category {
  display: flex;
  align-items: center;
  gap: 0.5rem/* 8px */;
  overflow-x: auto;
  padding-left: 0.5rem/* 8px */;
  }

  @media (width >= 640px) {
    .card-category-wrapper > .card-category {
      padding-left: 0;
    }
  }

/* Hide scrollbar for Chrome, Safari and Opera */
.card-category-wrapper > .card-category::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card-category-wrapper > .card-category {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card-category-wrapper > .card-category > .category,
.card-category-wrapper > .search-button {
  display: flex;
  align-items: center;
  gap: 0.25rem/* 4px */;
  padding: 0.375rem 0.625rem/* 6px 10px */;
  border: var(--border);
  border-radius: 9999px;
  transition: var(--transition);
  white-space: nowrap;
}

@media (width >= 640px) {
  .card-category-wrapper > .card-category > .category
  .card-category-wrapper > .search-button {
    padding: 0.375rem 0.75rem/* 6px 12px */;
    gap: 0.5rem/* 12px */;
  }
  
}

.card-category-wrapper > .card-category .is-active-category {
  background-color: rgb(17 24 39);
  color: white;
}

.card-category-wrapper > .card-category > .category:not(.is-active-category):hover,
.card-category-wrapper > .search-button:hover {
  background-color: var(--hover-color) !important;
}

/* ----- card-category-wrapper ends here ----- */
