/* -----card Section (Main Content) starts here ----- */

.card-section {
  padding: 1.5rem 1rem; /* 24px 16px */
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem /* 24px */;
  row-gap: 2rem /* 32px */;
  transition: var(--transition);
  height: max-content;
}
@media (width > 640px) {
  .card-section {
    padding: 1.5rem /* 16px 24px */;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width > 768px) {
  .card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width > 1024px) {
  .card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width > 1280px) {
  .card-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (width > 1536px) {
  .card-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (width > 1920px) {
  .card-section {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.card > .thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  aspect-ratio: 21/9;
}

.card > .thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (width >= 1280px) {
  .card:hover > .thumbnail > img {
    filter: brightness(1.05);
    scale: 1.1;
    rotate: -2deg;
    transition: var(--transition);
  }
}

.card > .thumbnail > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem /* 8px */;
  position: absolute;
  bottom: 0.5rem /* 8px */;
  right: 0.5rem /* 8px */;
  transition: var(--transition);
}

.card > .thumbnail > div > .request-responded-post,
.card > .thumbnail > div > .document-format {
  padding: 0.375rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: var(--border-radius);
  display: grid;
  place-content: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: var(--transition);
}

.card > .thumbnail > div svg {
  width: 1.25rem /* 20px */;
  height: 1.25rem /* 20px */;
  flex-shrink: 0;
}

.card > a > .subject {
  margin-top: 0.75rem /* 12px */;
  padding: 0 0.25rem /* 12px */;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  font-weight: 500;
  color: rgb(37 99 235);
  text-transform: uppercase;
}

.card > a > .title {
  padding: 0 0.25rem /* 12px */;
  margin: 0.5rem 0 0.75rem 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.125rem /* 18px */;
  line-height: 1.375rem /* 22px */;
  font-weight: 500;
}

.card > .username {
  margin-top: auto;
  padding: 0 0.25rem /* 12px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1rem /* 20px */;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 0.25rem /* 4px */;
  width: fit-content;
  max-width: 80%;
  letter-spacing: -0.025em;
  color: rgb(55 65 81);
}

.card > .username > svg {
  width: 0.875rem /* 14px */;
  height: 0.875rem /* 14px */;
  margin-top: 0.15rem;
}

.card > .username > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -0.025em;
}

.card > .time {
  display: flex;
  justify-content: space-between;
  column-gap: 0.25rem /* 4px */;
  padding-left: 1.375rem /* 6px */;
  margin-bottom: 0.375rem /* 6px */;
}

.card > .time > p {
  width: fit-content;
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
  color: rgb(75 85 99);
}

.card > .time > .three-dot-icon {
  height: fit-content;
  background: none;
  border: none;
  margin-top: -0.5rem /* -2px */;
  cursor: pointer;
  color: rgb(75 85 99);
}

.card > .username:hover,
.card > .time > p:hover,
.card > .time > .three-dot-icon:hover {
  color: black;
}
.card > .time > .three-dot-icon > svg {
  width: 1rem /* 16px */;
  height: 1rem /* 16px */;
  flex-shrink: 0;
}

.card > .intercation {
  width: fit-content;
  margin-left: auto;
  margin-right: 0.25rem /* 12px */;
  display: flex;
  align-items: center;
  gap: 1.5rem /* 24px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  padding: 0.5rem 0.75rem /* 8px 12px */;
  background-color: rgb(243 244 246);
  border-radius: var(--border-radius);
}

.card > .intercation > .view,
.card > .intercation > .comment,
.card > .intercation > .like {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 4px */;
}

.card > .intercation > .view > svg,
.card > .intercation > .comment > svg,
.card > .intercation > .like > svg {
  flex-shrink: 0;
  width: 1rem /* 16px */;
  height: 1rem /* 16px */;
}

/* -----card Section (Main Content) ends here ----- */
