@import url("./cardSectionGrid.css");
@import url("./cardStudyMaterail.css");

.project-card > .thumbnail {
  border: var(--border);
  border-width: 2px;
  transition: var(--transition);
  transition-duration: 300ms;
}

.project-card:hover > .thumbnail{
  border-color: rgb(55 65 81);
}
