/* -----request card Section (Main Content) starts here ----- */

.request-card-section {
  padding: 1.5rem 1rem; /* 24px 16px */
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem/* 24px */;
  row-gap: 2rem/* 32px */;
  transition: var(--transition);
}
@media (width > 640px) {
  .request-card-section {
    padding: 1rem 1.5rem /* 16px 24px */;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width > 768px) {
  .request-card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width > 1024px) {
  .request-card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width > 1280px) {
  .request-card-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (width > 1536px) {
  .request-card-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (width > 1920px) {
  .request-card-section {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.request-card {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-width: 2px;
  padding: 1.25rem/* 20px */;
  border-radius: var(--border-radius);
  transition: var(--transition);
  transition-duration: 300ms;
}
.request-card:hover {
  border-color: rgb(55 65 81);
}
@media (min-width: 768px) {
  .request-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  }
}

.request-card > .subject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  font-weight: 500;
  color: rgb(37 99 235);
  text-transform: uppercase;
}

.request-card > .title {
  margin-top: 0.75rem/* 12px */;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 600;
  line-height: 1.25;
  text-underline-offset: 2px;
  transition: var(--transition);
  text-transform: capitalize;
}

.request-card:hover > .title {
  text-decoration: underline;
}

.request-card > .request-details {
  margin: 1.5rem 0/* 24px 0 */;
  border-left: 2px solid rgb(209 213 219);
  padding-left: 1rem/* 12px */;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.request-card > .no-of-responses,
.request-card > .document-type-needed{
  margin-bottom: 0.75rem/* 12px */;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem/* 12px */;
  background-color: rgb(243 244 246);
  padding: 0.5rem 0.625rem/* 8px 10px */;
  border-radius: var(--border-radius);
  text-transform: capitalize;
}


.request-card > .educationLevel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem/* 12px */;
  margin-top: auto;
  margin-bottom: 0.75rem/* 12px */;
  text-transform: uppercase;
}

.request-card > .no-of-responses > p,
.request-card > .document-type-needed > p{
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  font-weight: 600;
  text-transform: capitalize;
}

.request-card > .no-of-responses > span,
.request-card > .document-type-needed > span,
.request-card > .educationLevel > span{
  background-color: rgb(255 255 255);
  padding: 0.25rem 0.5rem/* 4px 8px */;
  border-radius: var(--border-radius);
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
  font-weight: 700;
  border: 1.5px solid rgb(209 213 219);
}


.request-card > .button-wrapper{
  margin-top: 0.75rem/* 12px */;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem/* 16px */;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  font-weight: 500;
  white-space: nowrap;
}

.button-wrapper > form > .respond-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem/* 6px */;
  border-radius: 9999px;
  padding: 0.375rem 0.75rem/* 6px 12px */;
  border: 2px solid rgb(55 65 81);
  background-color: white;
  transition: var(--transition);
  cursor: pointer;
}

.button-wrapper > form > .respond-button:hover{
  background-color: rgb(31 41 55);
  border-color: rgb(31 41 55);
  color: white;
}

.button-wrapper > .see-details-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem/* 6px */;
  border-radius: 9999px;
  padding: 0.375rem 0.25rem/* 6px 12px */;
  border: none;
  background-color: white;
  cursor: pointer;
}

.see-details-button:hover > span{
  text-decoration: underline;
  text-underline-offset: 2px;
}

.request-card > .username {
  margin-top: 0.75rem/* 12px */;
  font-size: 0.875rem/* 14px */;
  line-height: 1rem /* 20px */;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 0.25rem/* 4px */;
  width: fit-content;
  max-width: 80%;
  letter-spacing: -0.025em;
  color: rgb(55 65 81);
}

.request-card > .username > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -0.025em;
}

.request-card > .time {
  display: flex;
  justify-content: space-between;
  column-gap: 0.25rem /* 4px */;
  padding-left: 1.125rem /* 6px */;
  margin-bottom: 0.375rem /* 6px */;
}

.request-card > .time > p {
  width: fit-content;
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
  color: rgb(75 85 99);
}

.request-card > .time > .three-dot-icon {
  background: none;
  border: none;
  margin-top: -1.125rem /* -2px */;
  cursor: pointer;
  color: rgb(75 85 99);
}

.request-card > .username:hover,
.request-card > .time > p:hover,
.request-card > .time > .three-dot-icon:hover {
  color: black;
}

.request-card > .time > .three-dot-icon > svg {
  width: 1rem /* 16px */;
  height: 1rem /* 16px */;
  flex-shrink: 0;
}