.form-section {
  padding: 1rem /* 16px */;
  margin: 0 auto;
  width: 100%;
  transition: var(--transition);
}

@media (width >= 640px) {
  .form-section {
    padding: 1.5rem /* 24px */;
  }
}

@media (width >= 768px) {
  .form-section {
    width: 90%;
  }
}

@media (width >= 1024px) {
  .form-section {
    max-width: 70rem /* 1280px */;
  }
}

.form-section > div {
  padding-bottom: 3rem /* 24px */;
}

.form-section > div:not(:first-child) {
  padding-top: 3rem /* 24px */;
  border-top: var(--border);
}


.form-section svg {
  width: 1.5rem /* 24px */;
  height: 1.5rem /* 24px */;
}

.form-section .form-heading {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
}

.form-section .form-info {
  margin-top: 0.25rem /* 8px */;
  color: rgb(71 85 105);
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.form-section form {
  margin-top: 2.5rem /* 40px */;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem /* 24px */;
  row-gap: 2rem /* 32px */;
}
@media (width >= 640px) {
  .form-section form {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

form > .post-details  svg{
  width: 0.75rem/* 12px */;
  height: 0.75rem/* 12px */;
}

form > .post-details > .post-title{
  margin-top: 0.25rem;
  font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
  font-weight: 500;
  padding-left: 0.75rem/* 12px */;
  border-left: 2px solid rgb(0, 0, 0);
}

form > .post-details > .post-subject{
  font-size: 0.85rem/* 16px */;
  line-height: 1.5rem/* 24px */;
  color: rgb(59 130 246);
  text-transform: uppercase;
  padding-left: 0.75rem/* 12px */;
  border-left: 2px solid rgb(59 130 246);
}

form > .post-details > .post-description{
  margin-top: 0.5rem/* 8px */;
  padding-left: 0.75rem/* 12px */;
  border-left: 2px solid rgb(209 213 219);
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  color: rgb(55 65 81);
}

form > .post-details > .post-meta-datas{
  margin-top: 1rem/* 16px */;
  display: flex;
  align-items: center;
  gap: 0.75rem/* 8px */;
  flex-wrap: wrap;
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
}

form > .post-details > .post-meta-datas > .username,
form > .post-details > .post-meta-datas > p{
  display: flex;
  align-items: center;
  gap: 0.3rem/* 6px */;
  border-radius: 9999px;
  background-color: rgb(31 41 55);
  padding:0.25rem 0.5rem;
  color: white;
  border: none;
}

form > .post-details > .post-meta-datas > span{
  display: flex;
  align-items: center;
  gap: 0.3rem/* 6px */;
  border-radius: 9999px;
  background-color: rgb(243 244 246);
  border: var(--border);
  padding:0.25rem 0.5rem;
  text-transform: uppercase;
}

form > .post-details > .post-meta-datas > .suspended-svg{
  background-color: rgb(237, 164, 17);
  color: white;
  border-color: rgb(237, 164, 17);
  font-weight: 500;
}


@media (width >= 640px) {
  .post-details,
  .title,
  .description,
  .bio,
  .privateAccount,
  .file-upload-section,
  .allow-email,
  .allow-phone {
    grid-column: 1 / -1;
  }
  .document-type,
  .format,
  .educationLevel,
  .semester,
  .userType,
  .phoneNumber{
    grid-column: span 2 / span 2;
  }
  .subject,
  .class,
  .author,
  .username,
  .name,
  .email,
  .gender,
  .currentPassword,
  .newPassword,
  .confirmPassword,
  .file-preview,
  .enrolledCourse,
  .school,
  .card {
    grid-column: span 3 / span 3;
  }
}

@media (width >= 1280px) {
  .file-preview {
    grid-column: span 2 / span 2;
  }
  .file-upload-section{
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
  }
}

form > .description > p,
form > .bio > p {
  margin-top: 0.5rem /* 8px */;
  color: rgb(71 85 105);
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

form > .document-type,
form > .format,
form > .educationLevel,
form > .semester,
form > .userType {
  position: relative;
}

.caret-up-down {
  pointer-events: none;
  position: absolute;
  right: 1rem /* 20px */;
  top: 2.25rem;
  width: 1rem /* 16px */;
  height: 1rem /* 16px */;
}

form > .file-upload-section > input,
form > .file-preview > input{
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

form > .file-upload-section svg {
  width: 3.5rem /* 32px */;
  height: 3.5rem /* 32px */;
}

form > .file-upload-section > label{
  display: grid;
  place-items: center;
  gap: 0.5rem/* 8px */;
  border-radius: var(--border-radius);
  border: var(--border);
  border-style: dashed;
  border-width: 2px;
  padding: 2rem 1rem/* 16px */;
  height: 100%;
  transition: var(--transition);
}

form > .file-upload-section > label > div{
  font-weight: 600;
  display: grid;
  gap: 0.75rem/* 16px */;
  text-align: center;
}

form > .file-upload-section > label > div > .browse-file{
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 0.5rem 1.75rem;
  background-color: var(--background-gray);
  transition: var(--transition);
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

form > .file-upload-section > label > div > .browse-file:hover{
  background-color: rgb(17 24 39);
  color: white;
}

form > .file-preview{
  aspect-ratio: 21/9;
  border: var(--border);
  border-width: 1.5px;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  position: relative;
  background-color: var(--background-gray);
  border-radius: var(--border-radius);
  overflow: hidden;
  display: grid;
  place-content: center;
  background: radial-gradient(circle at bottom left ,#e5e7eb 35%, transparent 36%), radial-gradient(circle at top right ,#e5e7eb 35%, transparent 36%), radial-gradient(circle at center ,#e5e7eb 15%, transparent 16%);
  background-size: 2.5rem 2.5rem;
}

form > .file-preview img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: none;
}

form > .file-preview > .file-icon{
  display: none;
}


form > .file-preview svg{
  width: 3rem/* 32px */;
  height: 3rem/* 32px */;
}

form > .file-preview > .file-info{
  display: none;
}

form > .file-preview > .file-header,
form > .file-preview > .file-info{
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  background-color: rgb(255 255 255 / 0.5);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  position: absolute;
  width: 100%;
}
form > .file-preview > .file-header{
  top: 0;
}
form > .file-preview > .file-info{
  bottom: 0;
}

form > .file-preview > .file-info > .file-remove-btn{
  background-color: transparent;
  color: rgb(239 68 68);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

form > button {
  grid-column-start: 1;
  padding: 0.5rem 1rem/* 12px 20px */;
  background-color: rgb(17 24 39);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.gender > div > label {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.gender > div {
  padding: 0.75rem 1.25rem /* 12px 20px */;
  display: flex;
  align-items: center;
  gap: 0.5rem /* 16px */;
}

.newPassword,
.confirmPassword {
  grid-column-start: 1;
}

.privateAccount,
.allow-email,
.allow-phone {
  display: flex;
  gap: 0.5rem /* 8px */;
}

.privateAccount > label,
.allow-email > label,
  .allow-phone > label {
  margin-top: -0.25rem /* 4px */;
  line-height: inherit;
  font-size: inherit;
}

.privateAccount > label > p,
.allow-email > label > p,
  .allow-phone > label > p {
  color: rgb(71 85 105);
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: normal;
}