/* ----- Header starts here ----- */

header {
  position: sticky;
  top: 0;
  z-index: 30;
  padding: 0.5rem 1rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  background-color: var(--background-color);
}

header > .logo {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 600;
  transition: var(--transition);
}

@media (width >= 1024px) {
  header {
    height: 4rem;
  }
  header > .logo {
    display: none;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 1rem /* 16px */;
  margin-left: auto;
}

@media (width >= 640px) {
  .header-menu {
    gap: 1.25rem /* 20px */;
  }
}

.header-menu svg {
  width: 1.5rem /* 24px */;
  height: 1.5rem /* 24px */;
  transition: var(--transition);
  flex-shrink: 0;
}

.header-menu > .h-links-wrapper {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: rgb(243 244 246);
  overflow: hidden;
}

.header-menu > .h-links-wrapper > .h-link:not(:last-child) {
  border-right: var(--border);
  border-color: rgb(217, 221, 227);
}

.header-menu > .h-links-wrapper > .h-link {
  display: flex;
  align-items: center;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  transition: var(--transition);
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
}

.header-menu > .h-links-wrapper > .h-link:hover{
  background-color: rgb(221, 224, 230);
}

.header-menu > .h-links-wrapper > .h-link.active-header-menu{
  background-color: rgb(227, 230, 236);
}

@media (width >= 640px) {
  .header-menu > .h-links-wrapper > .h-link {
    gap: 0.5rem /* 8px */;
    padding: 0.45rem 0.75rem;
  }

  .header-menu > .h-links-wrapper > .h-link > svg {
    width: 1.25rem /* 24px */;
    height: 1.25rem /* 24px */;
  }

}

@media (width < 640px) {
  .header-menu > .h-links-wrapper > .h-link > span {
    display: none;
  }
}

.header-menu > .notification-button,
.header-menu > .search-button,
.header-menu > .hamburger-button {
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
}

@media (width >= 1024px) {
  .header-menu > .hamburger-button {
    display: none;
  }
}

/* ----- Header ends here ----- */
