/* notificationOverlay starts here  */
#notificationOverlay {
  display: none;
}
#notificationOverlay.open {
  position: fixed;
  z-index: 100;
  inset: 0;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: end;
  animation: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--transition);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#notificationOverlay svg {
  width: 1.5rem /* 24px */;
  height: 1.5rem /* 24px */;
  flex-shrink: 0;
}

#notificationOverlay > #notificationModal {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 0.625rem 0.75rem/* 12px */;
  margin-top: 3.5rem;
  background-color: rgb(255 255 255 / 0.7);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: var(--transition);
}
@media (width >= 1024px) {
  #notificationOverlay > #notificationModal {
    margin-top: 4rem;
  }
}

@media (width <= 640px) {
  #notificationOverlay > #notificationModal {
    width: 100vw;
  }
}

#notificationModal > .notification-header {
  display: flex;
  align-items: center;
  gap: 1rem /* 16px */;
  font-size: 1.25rem /* 18px */;
  font-weight: 500;
  margin-bottom: 0.625rem/* 10px */;
  padding: 0.75rem/* 12px */ 1rem/* 16px */;
  border-radius: var(--border-radius);
  background-color: white;
}

#notificationModal > .notification-header > #back-button-notification {
  display: grid;
  place-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#notificationModal > ul {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem /* 4px */;
  padding: 0 1rem /* 16px */;
  border-radius: var(--border-radius);
  background-color: white;;
  overflow-y: scroll;
}

#notificationModal > ul > li {
  padding: 0.875rem 0/* 14px */;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}

#notificationModal > ul > li:not(:last-child) {
  border-bottom: 1px solid rgb(243 244 246);
}

#notificationModal > ul > li > .notification-category {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 14px */;
}

.notification-category > #category {
  font-weight: 500;
color: rgb(37 99 235);
opacity: 0.9;
}

.notification-category #time {
  font-size: 0.7rem/* 11px */;
  line-height: 1rem/* 16px */;
  font-weight: 500;
  opacity: 0.6;
}

.notification-category > #removeNotificationBtn{
  margin-left: auto;
  border-radius: 9999px;
  background-color: rgb(243 244 246);
  color: rgb(55 65 81);
  padding: 0.125rem /* 4px */;
  cursor: pointer;
  border: none;
  display: grid;
  place-content: center;
}

.notification-category > #removeNotificationBtn > svg {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;

}

#notificationModal > ul > li > .notification-body {
  display: flex;
  align-items: center;
  gap: 0.875rem /* 14px */;
  margin-top: 0.5rem/* 8px */;
}

.notification-body > .notification-icon {
  display: grid;
  place-content: center;
  width: 2.5rem/* 40px */;
  height: 2.5rem/* 40px */;
  flex-shrink: 0;
  border-radius: 9999px;
  background-color: rgb(243 244 246);
}

.notification-body > .notification-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem /* 2px */;
}

.notification-content > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.notification-content  #username {
  font-weight: 500;
}

.notification-body #action {
  opacity: 0.6;
}

.notification-body #message {
  opacity: 0.6;
  font-style: italic;
}




