#searchOverlay{
  display: none;
}
#searchOverlay.open{
  display: block;
  position: fixed;
  z-index: 100;
  inset: 0;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s  cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#searchOverlay svg{
  width: 1.5rem/* 24px */;
  height: 1.5rem/* 24px */;
  flex-shrink: 0;
}

#searchOverlay > #searchModal {
  display: flex;
  flex-direction: column;
height: 100dvh;
max-width: 768px;
margin: 0 auto;
background-color: white;
}
@media (width > 640px) {
  #searchOverlay > #searchModal {
    margin-top: 5rem/* 80px */;
    height: auto;
    border-radius: var(--border-radius);
    border: var(--border);
  }
  #searchOverlay {
    padding: 0 1rem/* 16px */;
  }
}

#searchModal > form{
  height: 4rem/* 64px */;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem/* 16px */;
  border-bottom: var(--border);
  margin-bottom: 0.75rem/* 12px */;
}

#searchModal > form > #back-button-search,
#searchModal > form > #search-button{
  display: grid;
  place-content: center;
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0.5rem;
}

#searchModal > form > #back-button-search:hover,
#searchModal > form > #search-button:hover,
#searchModal > ul > li:hover{
  background-color: var(--hover-color);
}

#searchModal > form > input{
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.125rem/* 18px */;
  margin: 0;
}

#searchModal > h3{
  padding: 0 1rem/* 16px */;
  font-weight: 500;
  margin-bottom: 0.75rem/* 12px */;
}

#searchModal > ul{
  padding: 0 0.5rem/* 16px */;
  margin-bottom: 0.75rem/* 12px */;
  overflow-y: scroll;
  flex-grow: 1;
}
@media (width > 640px) {
  #searchModal > ul{
    max-height: 50dvh;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
#searchModal > ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#searchModal > ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#searchModal > ul > li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}
#searchModal > ul > li >a {
  display: flex;
  gap:1rem;
  width: 100%;
  padding: 0.75rem 0.5rem/* 16px */;
}

#searchModal > ul > li > p{
  flex-grow: 1;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-weight: 500;
}

#searchModal > ul > li > button{
border: none;
  background-color: inherit;
  color: rgb(59 130 246);
  padding: 0.75rem 0.5rem/* 16px */;
}

#searchModal > ul > li > button:hover{
  color: rgb(59 130 246 / 0.8);
  text-decoration: underline;
}