#sideInfo { 
  position: fixed;
  z-index: 20;
  right: -100%;
  top: 3.5rem;
  bottom: 0px;
  background-color: rgba(243, 243, 243, 0.7);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem/* 16px */;
  width: 100%;
  overflow-y: scroll;
  transition: var(--transition);
  transition-duration: 500ms;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#sideInfo::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sideInfo {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#sideInfo.open{
  right: 0;
}

@media (width < 640px) {
  body.sideInfo-open {
    overflow: hidden;
  }
}

@media (width >= 640px) {
  #sideInfo { 
    width: 20rem/* 320px */;
  }
}

@media (width >= 1280px) {
  #sideInfo { 
    top: 4rem/* 64px */;
  }
}

#sideInfo > #close-button {
  display: block;
  position: sticky;
  top: 0px;
  margin-left: auto;
  margin-bottom: 1.5rem/* 24px */;
  background-color: rgb(255 255 255 / 0.8);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem/* 8px */;
transition: var(--transition);
display: grid;
place-content: center;
cursor: pointer;
}

#sideInfo > #close-button:hover {
  background-color: rgb(31 41 55);
  color: white;
}

#sideInfo > h3 {
  font-size: 1.125rem/* 18px */;
  line-height: 1.5rem/* 24px */;
  font-weight: 600;
  margin-bottom: 0.75rem/* 16px */;
}

.info-section {
  display: flex;
  gap: 1rem/* 16px */;
  margin: 1.5rem 0;
    flex-direction: column;
  }

.info-section > li {
  display: flex;
  align-items: center;
  gap: 0.875rem/* 14px */;
  padding: 0.875rem/* 14px */;
  border-radius: 9999px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(243 244 246);
}

.info-section > li > span {
  display: grid;
  place-content: center;
  width: 2.5rem/* 40px */;
  height: 2.5rem/* 40px */;
  flex-shrink: 0;
  border-radius: 9999px;
  background-color: rgba(243, 243, 243, 0.9);
}

.info-section > li > span > svg {
  width: 2rem/* 32px */;
  height: 2rem/* 32px */;
  flex-shrink: 0;
}

.info-section > li > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 0.875rem/* 14px */;
}

.info-section > li > div > h3 {
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  font-weight: 500;
}

.info-section > li > div > div {
  margin-top: auto;
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
  color: rgb(107 114 128);
}

.info-section > li > div > div > span{
  padding-right: 0.2rem;
}

.info-section > li > div > div > span:not(:first-child) {
  border-left: 1px solid rgb(156 163 175);
  padding-left: 0.375rem;
}

.info-section > li > svg {
  width: 1.5rem/* 24px */;
  height: 1.5rem/* 24px */;
  flex-shrink: 0;
}

#sideInfo > .side-info-description > p,
#sideInfo > .side-info-description > a{
  margin-top: 1.5rem;
  display: block;
  font-size: 1rem/* 16px */;
  line-height: 1.375rem/* 22px */;
  text-align: justify;
  padding: 0.875rem/* 14px */;
  border-radius: var(--border-radius);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(243 244 246);
}

#sideInfo > .side-info-description > a {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(59 130 246/ 0.1);
  color: rgb(59 130 246);
}