
/* ----- asie (side- profile ) starts here ----- */

.side-profile {
  order: -9999;
  padding: 1rem/* 16px */;
  transition: var(--transition);
}
@media ( 640px <= width < 1280px) {
  .side-profile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem/* 24px */;
  }  
}
@media (width >= 1280px) {
  .side-profile {
    position: fixed;
    z-index: 20;
    top: 4rem/* 64px */;
    right: 0px;
    width: 20rem/* 320px */;
    height: 100%;
    padding-bottom: 8rem/* 128px */;
    overflow-y: auto;
    border-left: var(--border);
    background-color: var(--background-color);
  }
}


.profile-card {
  border-radius: var(--border-radius)/* 12px */;
  background-image: radial-gradient(164.75% 100% at 50% 0%,#334155 0%,#0F172A 48.73%);
  /* background: url(https://i.ibb.co/LPLv5MD/Payment-Card-01.jpg) center/cover; */
  color: white;
  padding: 1rem/* 16px */;
  display: grid;
  gap: 0.625rem/* 10px */;
}

.profile-card svg{
  width: 1.25rem/* 24px */;
  height: 1.25rem/* 24px */;
  flex-shrink: 0;
}

.profile-card > .username-logo,
.profile-card > .name-private{
  display: flex;
  align-items: center;
  gap: 0.375rem/* 6px */;
}

.profile-card > .username-logo > .username,
.profile-card > .name-private > .full-name{
  flex-grow: 1;
}

.profile-card > .username-logo > .username > div{
  display: flex;
  align-items: center;
  gap: 0.375rem/* 6px */;
}

.profile-card > .username-logo > .username > div >svg{
  width: 0.9rem /* 14px */;
  height: 0.9rem /* 14px */;
  flex-shrink: 0;
}

.profile-card > .username-logo > .logo > img {
  width: 3rem/* 48px */;
  height: 3rem/* 48px */;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
}

.profile-card > .username-logo > .username > p,
.profile-card > .name-private > .full-name > p {
  font-weight: 300;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}

.profile-card > .username-logo > .username > div > div,
.profile-card > .name-private > .full-name > div {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-card > .name-private > .full-name > div {
  letter-spacing: 0.1em;
}

.profile-card > .infos {
  padding-top: 1.25rem/* 20px */;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

}

.profile-card > .infos > .class-course > p,
.profile-card > .infos > .user-type> p,
.profile-card > .infos > .year > p{
  font-weight: 300;
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
}

.profile-card > .infos > .class-course > div,
.profile-card > .infos > .user-type > div,
.profile-card > .infos > .year > div {
  font-weight: 500;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

.profile-card > .infos > .user-type> p,
.profile-card > .infos > .year > p,
.profile-card > .infos > .user-type > div,
.profile-card > .infos > .year > div {
  text-align: center;
}


.side-profile > .userstats-bio-wrapper{
  display: grid;
  gap: 1rem/* 24px */;
  margin-top: 1rem/* 24px */;
}

@media ( 640px <= width < 1280px) {
  .side-profile > .userstats-bio-wrapper{
    margin-top: 0;
  }  
}

.side-profile > .userstats-bio-wrapper > .userstats {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-content: center;
  gap: 1rem/* 24px */;
  padding: 1rem 0.5rem/* 8px */;
  border-radius: var(--border-radius)/* 12px */;
  background-color: var(--background-gray);
  border: 1px solid rgb(156 163 175);
}

.side-profile > .userstats-bio-wrapper > .userstats > div > p {
  display: block;
  font-weight: 400;
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  text-align: center;
}

.side-profile > .userstats-bio-wrapper > .userstats > div > div {
  font-weight: 300;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  text-align: center;
}

.side-profile > .userstats-bio-wrapper > .user-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem/* 8px */;
}

.side-profile > .userstats-bio-wrapper > .user-buttons svg {
  width: 1.5rem/* 24px */;
  height: 1.5rem/* 24px */;
  flex-shrink: 0;
}

.side-profile > .userstats-bio-wrapper > .user-buttons > form {
  display: flex;
  flex-grow: 1;
}

.side-profile > .userstats-bio-wrapper > .user-buttons > form > .follow-button,
.side-profile > .userstats-bio-wrapper > .user-buttons > .upload-button,
.side-profile > .userstats-bio-wrapper > .user-buttons > .social-link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem/* 8px */;
  white-space: nowrap;
  padding: 0.5rem 0.75rem/* 8px 12px */;
  text-align: center;
  border-radius: var(--border-radius)/* 12px */;
}

.side-profile > .userstats-bio-wrapper > .user-buttons > form > .follow-button,
.side-profile > .userstats-bio-wrapper > .user-buttons > .upload-button{
  flex-grow: 1;
  background-color: rgb(17 24 39);
  border: 1px solid rgb(17 24 39);
  color: white;
}

.side-profile > .userstats-bio-wrapper > .user-buttons > .social-link-button.gmail{
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid #ea4335;
}

.side-profile > .userstats-bio-wrapper > .user-buttons > .social-link-button.whatsapp{
  background-color: rgba(153, 255, 0, 0.1);
  border: 1px solid #34a853;
}

.side-profile > .userstats-bio-wrapper > .bio{
  text-align: center;
  line-height: 1.25;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  padding: 1rem/* 16px */;
  border-radius: var(--border-radius)/* 12px */;
  background-color: var(--background-gray);
  border: 1px solid rgb(156 163 175);
}
