
/* three dot menu starts here  */

#three-dot-menu{
  display: none;
}
#three-dot-menu.open{
  position: fixed;
  z-index: 100;
  inset: 0;
  height: 100dvh;
  width: 100vw;
  padding: 1rem/* 16px */;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s  cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#three-dot-menu > ul {
  width: 28rem;
  padding: 1rem/* 16px */;
  display: grid;
  gap: 0.75rem/* 16px */;
  border-radius: 2.5rem/* 40px */;
  background-color: rgb(255 255 255 / 0.7);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

#three-dot-menu > ul button,
#three-dot-menu > ul a {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: inherit;
  width: 100%;
}

#three-dot-menu > ul li{
  display: flex;
  align-items: center;
  gap: 0.875rem/* 14px */;
  padding: 0.875rem/* 14px */;
  border-radius: 9999px;
  background-color: rgb(243 244 246);
  cursor: pointer;
}

#three-dot-menu > ul li > span{
  display: grid;
  place-content: center;
  width: 2.5rem/* 40px */;
  height: 2.5rem/* 40px */;
  flex-shrink: 0;
  border-radius: 9999px;
  background-color: white;
}

#three-dot-menu > ul svg{
  width: 1.5rem/* 24px */;
  height: 1.5rem/* 24px */;
  flex-shrink: 0;
}

#three-dot-menu > ul li > div{
  flex-grow: 1;
  text-align: left;
  margin-right: 0.875rem/* 14px */;
}

#three-dot-menu > ul li > div > h3{
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}

@media (width < 640px) {
  #three-dot-menu > ul{
    align-self: flex-end;
    width: 100%;
    animation: slideIn 0.3s ease-in-out;
  }

  @keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}