:root {
  --background-color: rgb(255 255 255);
  --background-gray: rgb(249 250 251);
  --border: 1px solid #e5e7eb;
  --transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  --hover-color: rgb(243 244 246);
  --border-radius: 0.75rem;
  --primary-color: rgb(31 41 55);
  --secondary-color: rgb(156 163 175);
  --danger-color: rgb(239 68 68);
  --success-color: rgb(16 185 129);
  --warning-color: rgb(245 158 11);
  --info-color: rgb(6 125 247);
  --text-color: rgb(55 65 81);
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ui-sans-serif,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-size: inherit;
  font-weight: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* html {
  overflow-y: scroll;
} */

body.menu-open {
  overflow: hidden;
}

.danger {
  color: var(--danger-color);
  font-weight: 600;
}

.success {
  color: var(--success-color);
  font-weight: 600;
}

.warning {
  color: var(--warning-color);
  font-weight: 600;
}

.info {
  color: var(--info-color);
  font-weight: 600;
}

.form-error {
  color: var(--danger-color);
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  margin-top: 0.25rem /* 4px */;
  padding: 0 0.5rem /* 4px */;
}

form label {
  display: block;
  margin-bottom: 0.5rem /* 8px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 600;
}

form input,
form textarea,
form select {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem /* 12px 20px */;
  margin-top: 0.5rem /* 8px */;
  background-color: var(--background-color);
  border: 1px solid rgb(209 213 219);
  border-radius: var(--border-radius);
}

form input:focus,
form textarea:focus,
form select:focus {
  outline-color: var(--primary-color);
}

form textarea {
  resize: none;
}

form select {
  appearance: none;
}

form input[type="radio"],
form input[type="checkbox"] {
  width: 1rem /* 16px */;
  height: 1rem /* 16px */;
  margin: 0;
  margin-right: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  accent-color: var(--primary-color);
  cursor: pointer;
}

form > button {
  padding: 0.5rem 1rem /* 12px 20px */;
  margin-top: 1rem /* 16px */;
  margin-bottom: 0.25rem;
  text-align: center;
  background-color: rgb(17 24 39);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.smallClientAlert {
  position: fixed;
  bottom: 3.5rem;
  left: 50%;
  z-index: 1000;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: rgb(31 41 55 / 0.8);
  color: white;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: var(--border-radius);
  box-shadow: rgb(38, 57, 77) 0px 15px 30px -10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
}

@media (width <= 1280px) {
  .smallClientAlert{
    translate: -50%;
  }
}

.smallClientAlert.show {
  animation: fadeInSmallClientAlert 0.5s ease-in-out forwards;
}

.smallClientAlert.hide {
  animation: fadeOutSmallClientAlert 0.5s ease-in-out forwards;
}

@keyframes fadeInSmallClientAlert {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutSmallClientAlert {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* HTML: <div class="spinner"></div> */
.spinner,.relative-spinner {
  width: 25px;
  aspect-ratio: 1;
  animation: l5-0 1s infinite steps(1);
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
}

.relative-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner::before,
.relative-spinner::before,
.spinner::after,
.relative-spinner::after {
  content: "";
  position: absolute;
  inset:0 50% 50% 0;
  transform-origin: bottom right; 
  animation: 
    l5-1 0.5s infinite linear alternate,
    l5-2 0.5s infinite steps(1) alternate;
}
.spinner::after,
.relative-spinner::after {
  --s:-1,-1;
}
@keyframes l5-0 {
  0%  {transform:scale(1, 1) rotate(0deg)}
  50% {transform:scale(1,-1) rotate(90deg)}
}

@keyframes l5-1 {
  0%   {transform:scale(var(--s,1)) perspective(150px) rotateX(  0deg)}
  100% {transform:scale(var(--s,1)) perspective(150px) rotateX(180deg)}
}
@keyframes l5-2 {
  0% {background:#777777;}
  50%{background:#000000}
}