:root {
  --background-color: rgb(255 255 255);
  --background-gray: rgb(249 250 251);
  --border: 1px solid rgb(229, 231, 235);
  --transition : all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  --hover-color: rgb(243 244 246);
  --border-radius: 0.75rem;
  --primary-color: rgb(31 41 55);
  --secondary-color: rgb(156 163 175);
  --danger-color: rgb(239 68 68);
  --success-color: rgb(16 185 129);
  --warning-color: rgb(245 158 11); 
  --info-color: rgb(6 125 247);
  --text-color: rgb(55 65 81);

}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ui-sans-serif,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-size: inherit;
  font-weight: inherit;
  -webkit-tap-highlight-color: transparent;
}

body.menu-open {
  overflow: hidden;
}

.danger {
  color: var(--danger-color);
  font-weight: 500;
}

.success {
  color: var(--success-color);
}

.warning {
  color: var(--warning-color);
}

.info {
  color: var(--info-color);
}

.form-error {
  color: var(--danger-color);
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
  margin-top: 0.25rem/* 4px */;
  padding: 0 0.5rem/* 4px */;
}



/* 
html {
  scrollbar-gutter: stable;
} */
