@import url("./partials/variables&global.css");
@import url("./partials/sideNav.css");
@import url("./partials/main.css");
@import url("./partials/header.css");
@import url("./partials/AdminTable.css");
@import url("./partials/confirmModel.css");
@import url("./partials/cardSectionGrid.css");
@import url("./partials/toastNotification.css");
@import url("./partials/AdminGlobalStyle.css");


.welcome-banner {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem; /* 24px 16px */
  margin: 1.5rem 1rem; /* 24px 16px */
  background-color: rgb(31 41 55);
  border-radius: var(--border-radius);
  border: 1px solid rgb(51 61 75);
}

@media (width > 640px) {
  .welcome-banner {
    margin: 1.5rem /* 16px 24px */;
  }
}

.welcome-banner .svg-div {
  padding: 1.5rem;
  background-color: rgb(51 61 75);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  position: relative;
}

.welcome-banner svg {
  width: 4rem;
  height: 4rem;
}

.welcome-banner .svg-div > .admin-type {
  position: absolute;
  bottom: 0;
  right: 0.75rem;
  left: 0.75rem;
  padding: 0.15rem 0.3rem;
  background-color: rgb(107 114 128 / 0.5);
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem /* 14px */;
  text-transform: uppercase;
}

.welcome-banner > .heading > h3 {
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 500;
  margin-top: 0.25rem;
  transition: var(--transition);
}

@media (width > 640px) {
  .welcome-banner > .heading > h3 {
    font-size: 2rem/* 32px */;
    line-height: 2.5rem/* 40px */;
  }
}

.welcome-banner > .heading > h4 {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 600;
  margin-top: 1rem;
}

.welcome-banner > .heading > p {
  color: rgb(156 163 175);
  margin-top: 0.25rem;
}


.card-section {
  gap: 1.5rem /* 24px */;
  margin-bottom: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (width > 768px) {
  .card-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.admin-card,
.chart-div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: rgb(31 41 55);
  border-radius: var(--border-radius);
  border: 1px solid rgb(51 61 75);
}

.admin-card > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.admin-card > div > .svg-div {
  padding: 0.375rem;
  background-color: rgb(51 61 75);
  border-radius: 9999px;
  display: grid;
  place-items: center;
}

.admin-card svg {
  width: 2rem;
  height: 2rem;
}

.admin-card > div > .card-info > .type {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  white-space: nowrap;
}

.admin-card > div > .card-info > .num-data {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 600;
}

.admin-card > .view-all-anchor {
  display: block;
  margin-top: auto;
  text-align: center;
  background-color: rgb(51 61 75);
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  padding: 0.5rem 1rem /* 12px 16px */;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.admin-card > .view-all-anchor:hover {
  background-color: rgb(55 65 81);
}

.chart-section {
  display: grid;
  padding: 1.5rem 1rem; /* 24px 16px */
  gap: 1.5rem /* 24px */;
  margin-bottom: 1.5rem;
}

@media (width > 640px) {
  .chart-section{
    padding: 1.5rem /* 16px 24px */;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* @media (width > 768px) {
.category-in-post {
  grid-row: span 2;
}
} */


canvas {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

@media (width > 640px) {
  canvas {
    aspect-ratio: 1/1;
  }
}


@media (width > 768px) {
  canvas {
    aspect-ratio: 4/3;
  }
}

@media (width > 1280px) {
  .chart-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .category-in-post  {
    grid-column: span 2;
  }
  .user-category-div{
    grid-row: span 2;
  }
  .post-category-div{
    grid-row: span 2;
  }
  .suspend-active-div{
    grid-column: span 2;
  }
  canvas {
    aspect-ratio: 21/9;
  }
}

