@import url("./partials/variables&global.css");
@import url("./partials/sideNav.css");
@import url("./partials/main.css");
@import url("./partials/header.css");
@import url("./partials/titleLabel.css");
@import url("./partials/cardCategory.css");
@import url("./partials/cardStudyMaterail.css");
@import url("./partials/sideProfile.css");
@import url("./partials/footer.css");
@import url("./partials/threeDotMenu.css");
@import url("./partials/sideInfo.css");
@import url("./partials/searchOverlay.css");
@import url("./partials/notificationOverlay.css");
@import url("./partials/toastNotification.css");
@import url("./partials/toastNotification.css");




/* ----- card-profile-wrapper starts here ----- */

.card-profile-wrapper {
  display: flex;
  flex-direction: column;
}

@media (width >= 1280px) {
  .card-profile-wrapper {
    margin-right: 20rem/* 320px */;
  }
}

/* ----- card-profile-wrapper ends here ----- */


/* -----card Section (Main Content) starts here ----- */

@media (width > 1280px) {
  .card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width > 1536px) {
  .card-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (width > 1920px) {
  .card-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* -----card Section (Main Content) ends here ----- */


/* -----card Section (Main Content) ends here ----- */