@import url("./partials/variables&global.css");
@import url("./partials/sideNav.css");
@import url("./partials/main.css");
@import url("./partials/header.css");
@import url("./partials/cardCategory.css");
@import url("./partials/cardStudyMaterail.css");
@import url("./partials/footer.css");
@import url("./partials/threeDotMenu.css");
@import url("./partials/sideInfo.css");
@import url("./partials/searchOverlay.css");
@import url("./partials/notificationOverlay.css");
@import url("./partials/toastNotification.css");

.project-card > .thumbnail {
  border: var(--border);
  border-color: rgb(209 213 219);
  border-width: 1.5px;
}

.project-card:hover > .thumbnail{
  transition: var(--transition);
  transition-duration: 300ms;
  border-color: rgb(156 163 175);
}

.project-card > .username{
  margin-top: 0.75rem /* 12px */;
}

