/* ----- Header starts here ----- */

header {
  position: sticky;
  top: 0;
  z-index: 30;
  padding: 0.5rem 1rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  background-color: var(--background-color);
}

header > .logo {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 600;
  transition: var(--transition);
}

@media (width >= 1024px) {
  header {
    height: 4rem;
  }
  header > .logo {
    display: none;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 1rem /* 16px */;
  margin-left: auto;
}

@media (width >= 640px) {
  .header-menu {
    gap: 1.5rem /* 16px */;
}
}

.header-menu svg {
  width: 1.5rem /* 24px */;
  height: 1.5rem /* 24px */;
  transition: var(--transition);
  flex-shrink: 0;
}

.header-menu > .upload-button,
.header-menu > .newRequest-button {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  padding: 0.375rem 0.625rem /* 6px 10px */;
  border-radius: var(--border-radius) /* 8px */;
  background-color: rgb(249 250 251);
  border: 1px solid rgb(156 163 175);
  transition: var(--transition);
  text-transform: uppercase;
}

.header-menu > .upload-button > svg,
.header-menu > .newRequest-button > svg {
  width: 1.25rem /* 20px */;
  height: 1.25rem /* 20px */;
  flex-shrink: 0;
}

@media (width >= 640px) {
  .header-menu > .upload-button,
  .header-menu > .newRequest-button {
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
  }
}
@media (width >= 768px) {
  .header-menu > .upload-button,
  .header-menu > .newRequest-button {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  }
}

.header-menu > .upload-button:hover,
.header-menu > .newRequest-button:hover {
  background-color: var(--hover-color);
}

@media (width < 640px) {
  .header-menu > .upload-button > span,
  .header-menu > .newRequest-button > span {
    display: none;
  }
}
.header-menu > .upload-button:hover,
.header-menu > .newRequest-button:hover {
  background-color: var(--hover-color);
}

.header-menu > .notification-button,
.header-menu > .search-button,
.header-menu > .hamburger-button {
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
}

@media (width >= 1024px) {
  .header-menu > .hamburger-button {
    display: none;
  }
}

/* ----- Header ends here ----- */