#searchOverlay {
  display: none;
}
#searchOverlay.open {
  display: block;
  position: fixed;
  z-index: 100;
  inset: 0;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#searchOverlay svg {
  width: 1.5rem /* 24px */;
  height: 1.5rem /* 24px */;
  flex-shrink: 0;
}

#searchOverlay > #searchModal {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-width: 768px;
  margin: 0 auto;
  background-color: white;
}
@media (width > 640px) {
  #searchOverlay > #searchModal {
    margin-top: 5rem /* 80px */;
    height: auto;
    border-radius: var(--border-radius);
    border: var(--border);
  }
  #searchOverlay {
    padding: 0 1rem /* 16px */;
  }
}

#searchModal > form.search-form {
  margin: 0;
  height: 4rem /* 64px */;
  display: flex;
  align-items: center;
  gap: 1rem /* 16px */;
  padding: 1rem /* 16px */;
  border-bottom: var(--border);
  margin-bottom: 0.75rem /* 12px */;
}

#searchModal > form.search-form > #back-button,
#searchModal > form.search-form > #search-button {
  display: grid;
  place-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#searchModal > form.search-form > input {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.125rem /* 18px */;
}

#searchModal > h3 {
  padding: 0 1rem /* 16px */;
  font-weight: 500;
  margin-bottom: 0.75rem /* 12px */;
}

#searchModal > ul {
  padding: 0 1rem /* 16px */;
  margin-bottom: 0.75rem /* 12px */;
  overflow-y: scroll;
  flex-grow: 1;
}
@media (width > 640px) {
  #searchModal > ul {
    max-height: 50dvh;
  }
}

#searchModal > ul > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 0 /* 16px */;
}

#searchModal > ul > li > p {
  flex-grow: 1;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 500;
}
